<%= form_for(@microblog) do |f| %>
		<%= f.text_field :header, :id => 'blog-header', :placeholder => "Header" %>
	<div class="field">
		<%= f.text_area :content, :placeholder => "Compose Microblog..." %>
	</div>
	<%= f.submit "Blog!", class: "button" %>
<% end %>