<h2>Welcome to AppDomum</h2>
<h3>Founder/CEO</h3>
<%= render @chris %>
<h3>iPhone Developers</h3>
<%= render @iphonedevs %>
<h3>Android Developers</h3>
<%= render @androiddevs %>
<h3>Interns</h3>
<%= render @interns %>
