<h1>Welcome to AppDomum</h1>
<h3>What We're About</h3>

<p>Here at AppDomum we make custom built application for </p>



<h3>Founder/CEO</h3>
<%= render @chris %>
<h3>iPhone Developers</h3>
<%= render @iphonedevs %>
<h3>Android Developers</h3>
<%= render @androiddevs %>
<h3>Interns</h3>
<%= render @interns %>
