/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require formtastic
 *= require foundation_and_overrides
 *= require_tree .
*/

@import 'foundation-social-web-icons';
@import "foundation";

@media only screen and (min-width: 768px) {
.title-area {
  margin-left: 6em;
}


}
.errors {
  margin-left: 6em;
}

.img {
  width: 100%
}


.panel {
  -moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px; 
}

li {
  list-style-type: none;
  }

.fixed-icon {
@extend .hide-for-small;
    width: 10%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
}

.top-bar {
  opacity:0.9;
  filter:alpha(opacity=90);

}

.title-area {
  padding: 5px 5px;
  font-weight: bold;
  letter-spacing: -1px;
  
}

#main{
  margin-top: 30px;
}

.brand {
  float: left;
  padding-right: 8px;
}
ul.nav {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}
ul.nav li {
  display: inline;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.am-storeicon {
  position: relative;
  display: inline-block;
  background-size: 100%;
  width: 162px;
  height: 48px;
  text-indent: -999em;
  text-align: left;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
 

.am-storeicon:hover {
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}

.googleplay {
  background: image-url("googleplay-large.png") no-repeat;
}
 
.apple {
  background: image-url("apple-large.png") no-repeat;
}
 //= require foundation_and_overrides
