<footer>
    
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright AppDomum Developers Consortium 2013.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="https://www.facebook.com/AppDomum" class="fc-webicon facebook">Like us on Facebook</a></li>
            <li><a href="https://plus.google.com/106056812072364289629/about" class="fc-webicon googleplus">Like us on Google</a></li>
            <li><a href="https://twitter.com/AppDomum" class="fc-webicon twitter">Like us on Twitter</a></li>
            
          </ul>
        </div>
      </div> 
  </footer>