<footer>
    
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright AppDomum Developers Consortium 2013.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            
          </ul>
        </div>
      </div> 
  </footer>